@model Annonssystem.Models.PrenumerantDetails

@{
    ViewData["Title"] = "EditPrenumerant";
}

<h1>EditPrenumerant</h1>

<h4>PrenumerantDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPrenumerant">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="pr_preNr" class="control-label"></label>
                <input asp-for="pr_preNr" class="form-control" />
                <span asp-validation-for="pr_preNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pr_namn" class="control-label"></label>
                <input asp-for="pr_namn" class="form-control" />
                <span asp-validation-for="pr_namn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pr_teleNr" class="control-label"></label>
                <input asp-for="pr_teleNr" class="form-control" />
                <span asp-validation-for="pr_teleNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pr_utAdress" class="control-label"></label>
                <input asp-for="pr_utAdress" class="form-control" />
                <span asp-validation-for="pr_utAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pr_postNr" class="control-label"></label>
                <input asp-for="pr_postNr" class="form-control" />
                <span asp-validation-for="pr_postNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pr_ort" class="control-label"></label>
                <input asp-for="pr_ort" class="form-control" />
                <span asp-validation-for="pr_ort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
