@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #prenumerantBox{
                display: none;
    }

    #prenumerant:checked ~ #prenumerantBox{
                display: block;
        }
    
</style>

<h2>Skapa annons</h2>

<form asp-action="valjTyp" method="post">

    <h4>Är du prenumerant eller ett företag?</h4>

    <input type="radio" id="prenumerant" name ="kundTyp" value="Prenumerant" />
    <label for="prenumerant">Prenumerant</label>

    <br />

    <input type="radio" id="foretag" name ="kundTyp" value="Foretag" />
    <label for="foretag">Företag</label>

    <br /><br />

    <div id="prenumerantBox">
    <label>Prenumerationsnummer:</label>
    <input type="text" name="prenumerantId") />
    </div>

    <br /><br />
    @if (ViewBag.ErrorMessage != null)
    {
        <div style="color: red; margin-bottom: 10px;">
            @ViewBag.ErrorMessage
        </div>
    }
    <button type="submit">Gå vidare</button>
</form>